<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v4.1.1">
  <title>Login</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap.css" rel="stylesheet"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- Favicons -->
  <link rel="icon"
    href="https://pixabay.com/get/54e0d74b4857a414f6da8c7dda29317e1c3ed6e25b4c704c7c287cdc924bc158_1280.png"
    sizes="16x16" type="image/png">
  <!-- <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180"> -->
  <!-- <link rel="icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png"> -->
  <!-- <link rel="manifest" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/manifest.json"> -->
  <!-- <link rel="mask-icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c"> -->
  <!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/"> -->
  <link href="https://fonts.googleapis.com/css?family=Viga&display=swap" rel="stylesheet">
  <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#563d7c">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="/stylesheets/floating-labels.css" rel="stylesheet">
</head>

<body>
  <div class="container">
  <form class="form-signin" action="/login" method="POST">
    <div class="text-center mb-4">
      <img class="mb-4" src="/images/animal.svg" alt="" width="80" height="80">
      <h1 class="h3 mb-3 font-weight-normal" style="color: aliceblue;">Project Management <br> System</h1>
    </div>

    <div class="form-label-group" style="color: white!important;">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""
        name="email">
      <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
      <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label style="color: white;">
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: rgba(0,0,0.,1);">Sign
      in</button>
    <h6 class="mt-5 mb-3 text-muted text-center" style="color: white!important;">© FarivIND - 2020 - All rights
      reserved.</h6>
  </form>
</div>
</body>

</html>